# Paths are relative to this configuration file. Only maintained production sources count.
root = ..
filter = ../engine/(src|include)/
filter = ../apps/
filter = ../tools/editor_tool/
exclude = .*/[^/]*\.gen\.[^/]+$
exclude = .*/[^/]*_stub\.cpp$
exclude = .*/test[-_]support/
exclude-unreachable-branches = yes
exclude-throw-branches = yes
html-details = yes
print-summary = yes
